html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fascinate', cursive;
}

.container {
    margin: 0 auto;
}

main {
    border: 1px solid black;
    border-top-right-radius: 20px;
}

.color-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
}

.color-picker {
    display: grid;
    justify-items: center;
}

select,
.random-btn {
    background-color: #FFFF;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
}


.color-schemes,
footer {
    display: grid;
    text-align: center;
    justify-items: stretch;
    grid-template-columns: repeat(5, 1fr);

}

.color-schemes {
    height: 555px;
    cursor: pointer;
}

footer {
    font-size: 20px;
    font-weight: light;
}


/* ANIMATION */
.color-column:hover {
    transition: 0.2s;
    transform: scale(.97);
}

.color-column:active {
    opacity: .8;
}

.animate {
    animation-duration: 0.4s;
    animation-name: animate;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}